<div class="side-bar">
  <div class="side-header">
    <div class="side-left-header">
      <a href="#">ユーザー名</a>
    </div>
    <div class="side-right-header">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="side-contents">
    <div class="chat-room">
      <div class="room-name">
        <a href="#">testroom1</a>
      </div>
    </div>
    <div class="chat-room">
      <div class="room-name">
        <a href="#">testroom2</a>
      </div>
    </div>
  </div>
</div>