<div class="side-bar">
  <div class="side-header">
    <div class="side-left-header">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="side-right-header">
      <%= link_to 'チャットを作成する',new_room_path %>
    </div>
  </div>
  <div class="side-contents">
    <% current_user.rooms.each do |room| %>
      <div class="chat-room">
        <div class="room-name">
          <a href="#"><%= room.name %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>